
// brand color
$brand-prime:#00394A;
$brand-secondary:#F9B835;
$brand-third:#F6F6F6;

//Interactive colors
$brand-prime-1:#024B61;
$brand-prime-2:#025E79;
$brand-prime--1:#002D3A;
$brand-prime--2:#012029;

$brand-secondary-1:#FEC34D;
$brand-secondary-2:#FFCD68;
$brand-secondary--1:#EAA925;
$brand-secondary--2:#E59E0D;

$brand-third-1:#FBFDFD;
$brand-third-2:#FFFFFF;
$brand-third--1:#E5E2E2;
$brand-third--2:#CBC9C9;

// Colors grey
$grey-dark:#32373C;
$grey-darker:#23282D;
$grey-darkest:#191E23;
$grey:#717171; 
$grey-light:#82878C;
$grey-lighter:#A0A5AA;
$grey-lightest:#B4B9BE;


//Denotative Colors
$succes: #004A0A;
$error: #8B0000;
$warning: #C26100;
$info: #00396C;

//Denotative Text
$text-light: #F8F9FA;
$text-dark: #00141A;

//Denotative Colors - Button
$button-premium: $brand-secondary;
$button-secondary: $brand-third;
$button-default: $brand-prime;
$button-dangerous: #8B0000;
$button-not-allow: #B4B9BE;
// Colors
$white: #ffffff;



// $gradient-dark : linear-gradient(180deg, rgba($brand-color-darker,0) 0%, rgba($brand-color-darker,0.15) 30%, rgba($brand-color-darker,0.8) 70%, rgba($brand-color-darker,0.95) 100%);

// $page-background: $brand-white;
